.cubeContainer {
  display: flex;
  background: #232323;
  flex-wrap: wrap;
  justify-content: center;
}

.viewContainer {
  height: 248px;
  width: 216px;
  margin: 5px;
}

.side {
  background-color: black;
  max-width: 120px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  position: absolute;
  transform: skew(-15deg, -15deg);
  transform-origin: top left;
}

.sideContainer {
  position: relative;
  top: 124px;
  left: 108px;
  transform-origin: top left;
}

.sideContainer.white {
  transform: rotate(225deg);
}

.sideContainer.orange {
  transform: rotate(345deg);
}

.sideContainer.blue {
  transform: rotate(105deg);
}

.sideContainer.yellow {
  transform: rotate(45deg);
}

.sideContainer.green {
  transform: rotate(165deg);
}

.sideContainer.red {
  transform: rotate(285deg);
}

.square.white {
  background-color: white;
}

.square.yellow {
  background-color: yellow;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}

.square.orange {
  background-color: orange;
}

.square.green {
  background-color: green;
}

.square {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px black inset;
  box-sizing: border-box;
  cursor: pointer;
}

.white.square:hover {
  box-shadow: 0 0 5px 5px rgba(0, 230, 255, 0.1) inset, 0 0 1px 1px rgba(255, 255, 255, 0.7) inset;
}

.yellow.square:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5) inset, 0 0 1px 1px rgba(255, 255, 255, 0.7) inset;
}

.red.square:hover,
.orange.square:hover,
.blue.square:hover,
.green.square:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4) inset, 0 0 1px 1px rgba(255, 255, 255, 0.4) inset;
}
