.side {
  background-color: black;
  max-width: 120px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  position: absolute;
  transform: skew(-15deg, -15deg);
  transform-origin: top left;
}

.sideContainer {
  position: relative;
  top: 130px;
  transform-origin: top left;
}

.sideContainer.white, .sideContainer.blue, .sideContainer.orange {
  left: 120px;
}

.sideContainer.yellow, .sideContainer.red, .sideContainer.green {
  left: 350px;
}

.sideContainer.white {
  transform: rotate(225deg);
}

.sideContainer.orange {
  transform: rotate(345deg);
}

.sideContainer.blue {
  transform: rotate(105deg);
}

.sideContainer.yellow {
  transform: rotate(45deg);
}

.sideContainer.green {
  transform: rotate(165deg);
}

.sideContainer.red {
  transform: rotate(285deg);
}

.square.white {
  background-color: white;
}

.square.yellow {
  background-color: yellow;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}

.square.orange {
  background-color: orange;
}

.square.green {
  background-color: green;
}

.square {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px black inset;
  box-sizing: border-box;
  cursor: pointer;
}

.white.square:hover {
  box-shadow: 0 0 5px 5px rgba(0,230,255,.1) inset, 0 0 1px 1px rgba(255,255,255,.7) inset;
}

.yellow.square:hover {
  box-shadow: 0 0 5px 5px rgba(255,255,255,.5) inset, 0 0 1px 1px rgba(255,255,255,.7) inset;
}

.red.square:hover, .orange.square:hover, .blue.square:hover, .green.square:hover {
  box-shadow: 0 0 5px 5px rgba(255,255,255,.4) inset, 0 0 1px 1px rgba(255,255,255,.4) inset;
}

/* .white.side {
  transform: rotate(-45deg) skew(15deg, 15deg);
  position: absolute;
  left: 50px;
  top: 2px
}

.blue.side {
  position: absolute;
  top: 93px;
  left: -3.5px;
  transform: skew(0, 30deg) scaleX(0.89);
}

.orange.side {
  position: absolute;
  top: 93px;
  left: 103.5px;
  transform: skew(0, -30deg) scaleX(0.89);
}

.green.side {
  position: absolute;
  top: 30px;
  left: 246.5px;
  transform: skew(0, -30deg) scaleX(0.89);
}

.red.side {
  position: absolute;
  top: 30px;
  left: 353px;
  transform: skew(0, 30deg) scaleX(0.89);
}

.yellow.side {
  transform: rotate(-45deg) skew(15deg, 15deg);
  position: absolute;
  left: 300px;
  top: 121px;
} */

